<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bekijken</title>
    <script src="scripts/java.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <script src="scripts/blacklistJava.js" defer></script>
</head>
<body id="bekijken">
    <header>
        <nav class="nav">
            <img src="assets/images/yaba.png" alt="Logo">
            <h1 class="titel">Geordende minifigs</h1>
        </nav>
    </header>
    <%- include('navigatie'); %>
    <main id="bekijkenTabel">
        <table>
            <tr>
                <th scope="col">Afbeelding minifig</th>
                <th scope="col">Code minifig</th>
                <th scope="col">Afbeelding set</th>
                <th scope="col">Code set</th>
                <th scope="col">Verwijderen</th>
            </tr>
            
            <% for (let i = 0; i < data.length; i++) {%>
            <%=data[i].setId;%>
                <tr id="row<%= i %>">
                <td><a href="/parts?id=<%=data[i].waarden.figId%>" target="_blank"><img src="<%= data[i].waarden.figUrl %>" alt="" height="150"></a></td>
                <td id="i<%= i %>"><%=data[i].waarden.figId%></td>
                <td><a href="/figs?id=<%=data[i].waarden.setId%>" target="_blank"><img src="<%= data[i].waarden.setUrl %>" alt="" height="150"></a></td>
                <td><%=data[i].waarden.setId%></td>
                <td><button id="v<%= i %>" onclick=verwijder(<%= i %>)>Verwijder</button></td>
            </tr>
            <% }; %>
        </table>
    </main>
    <footer>
        <p>&copy;YABA - Lego Masters</p>
    </footer>
</body>
</html>